.about_container {
    display: grid;
    grid-template-columns: 35% 60%;
    justify-content: space-between;
}

.about_me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg,
            transparent,
            var(--color-primary),
            transparent);
    display: grid;
    place-items: center;
}

.about_image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(-10deg);
    transition: var(--transition);
}

.about_image:hover {
    transform: rotate(0deg);
}

.about_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}

.about_card {
    background: var(--color-bg-variant);
    padding: 1.2rem 0.5rem;
    border-radius: 1rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.about_card:hover {
    background: transparent;
    border-color: var(--color-primary);
}

.about_icons {
    color: var(--color-primary);
    font-size: 2rem;
}

.about_card h4 {
    font-size: 1.1rem;
}

.about_card h5 {
    font-size: 0.7rem;
    color: var(--color-white);
}

.about_discribe {
    margin: 2rem 0 3rem 0;
    color: var(--color-white);
    text-align: justify;
    display: block;
}

.about_discribe p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

/* ============================= Media Screen ============================ */

@media screen and (max-width: 1024px) {
    .about_container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .about_me {
        width: 30%;
        margin: 0 auto 0;
    }

    .about_card {
        padding: 0.5rem;
    }

    .about_content {
        text-align: end;
    }

    .about_icons {
        font-size: 1.5rem;
    }

    .about_content p {
        margin: 1rem 0 1.5rem;
    }

}

/* ============================= Media Screen (phone) ============================ */

@media screen and (max-width: 600px) {
    .about_me {
        width: 35%;
        margin: 0 auto 0;
    }

    .about_content {
        text-align: center;
    }
}