.home {
    height: 90vh;
    width: 100vh;
    overflow: hidden;
    text-align: center;
}

.home_container{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.home_cvbutton {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

/* ============================= Media Screen ============================ */

@media screen and (max-width: 1024px) {
    header {
        height: 100vh;
    }
}

/* ============================= Media Screen (phone) ============================ */

@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }
}