.header{
    height: 10vh;
}

.header_container{
    height: 100%;
}

.header_socialbutton {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: absolute;
    left: 80%;
    top: 0rem;
}