.header{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_logo{
    margin-left: 3rem;
    font-size: 2rem;
}

.header_bar{
    width: 20rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
}

.social_button {
    font-size: 2rem;
    margin-top: 0.5rem;
}