.header{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_logo{
    margin-left: 3rem;
    font-size: 2rem;
}

.header_bar{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
}

.social_button {
    font-size: 2rem;
    margin-top: 0.5rem;
}


/* ============================= Media Screen ============================ */

@media screen and (max-width: 1024px) {
    .header_bar{
        width: 40%;  
    }
    .header_bar{
        font-size: 1.5rem;
    }
    .social_button{
        font-size: 1.5rem;
    }
}

/* ============================= Media Screen (phone) ============================ */

@media screen and (max-width: 600px) {
    .header_logo {
        margin-left: 1rem;
    }

    .header_bar{
        width: 12rem;
    }

}