nav {
    background: var(--color-bg-variant);
    opacity: 0.9;
    height: max-content;
    padding: 0.9rem 0.6rem;
    z-index: 2;
    position: fixed;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 2rem;
    backdrop-filter: blur(5px);
    transition: var(--transition);
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1.2rem;
    transition: var(--transition);
    overflow-x: hidden;
}

.about_text_left{
    width: 3.9rem;
}

.about_text_right{
    width: 11rem;
}

nav .right {
    right: 0.7rem;
}

nav a {
    background: transparent;
    padding: 0.05rem 0.5rem;
    border-radius: 2rem;
    display: flex;
    gap: 1.2rem;
    color: var(--color-primary);
    font-size: 1.5rem;
}

nav .nav_icon {
    margin-top: 0.5rem;
    margin-left: 0.1rem;
}

nav .text{
    margin-top: 0.2rem;
}

nav a:hover {
    background: var(--color-primary);
    color: var(--color-bg);
    z-index: 3;
}

nav a.active {
    background: var(--color-primary);
    color: var(--color-bg);
    z-index: 3;
}

nav .toggle {
    position: absolute;
    background: var(--color-bg-variant);
    color: var(--color-primary);
    padding: 1.3rem;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 1.2rem;
    cursor: pointer;
    right: -1.3rem;
    top: 50%;
    transform: translateY(-50%);
}

nav .toggle .left, nav .toggle .right{
    font-size: 1.5rem;
    bottom: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-40%,-50%);
}


/* ============================= Media Screen ============================ */

@media screen and (max-width: 1024px) {
    nav{}
}


/* ============================= Media Screen (phone) ============================ */

@media screen and (max-width: 600px) {
    nav{
        left: 50%;
        transform: translateX(-50%);
        top: 88%;
        padding: 0.8rem 0.8rem;
        border-radius: 3rem;
        opacity: 0.7;
    }

    .about_text_left, .about_text_right{
        width: max-content;
    }

    .content{
        flex-direction: row;
        gap:1rem;
    }

    .content a{
        padding: 0.3rem 0.8rem;
    }

    .content .text {
        display: none;
    }

    .content .pointer {
        display: none;
    }

    .toggle {
        display: none;
    }
    nav .toggle .left, nav .toggle .right{
        display: none;
    }
}